.App {
  text-align: center;
  padding: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.filter-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin: 16px 0px;

  .filter-type {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.task-list {
  display: flex;
  flex-direction: column;

  .task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    button {
      height: 24px;
      width: 24px;
    }

    /* input {
      height: 24px;
      width: 24px;
    } */

    p {
      margin: 0px;
      font-size: 30px;
    }
  }
}

.task-input {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;

  input {
    border-radius: 5px;
  }

  .task-button {
    height: 25px;
    border-radius: 5px;
    border: none;
    color: whhite;
    color: black;
    background-color: white;
    cursor: pointer;
  }

  .task-button:hover {
    background: blue;
    color: white;

  }
}